* {
    margin: 0;
}

@font-face {
    font-family: Constantine;
    src: url('./Constantine.ttf');
}

:root {
    --red--color: #e6394e;
    --white--color: #f1faee;
    --acqua--color: #a8dadc;
    --light--blue: #457b9d;
    --dark--blue: #1d3557;
}

body {
    font-family: Constantine;
    text-align: center;
    color: var(--white--color);
    text-shadow: 0 0 1.5px;
    background-color: var(--light--blue);
}

header {
    background: url('./imgs/hero.jpg') center center;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-elements {
    background-color: var(--red--color);
    padding: 8px 16px;
    border-radius: 0.5rem;

}

h1 {
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}

h3 {
    padding: 3rem 0 2rem;
}

article {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;
}

section {
    width: 500px;
    font-size: 1.2rem;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid var(--dark--blue);
    border-radius: 50%;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

section>p {
    padding: 0 2rem;
    text-align: justify;
}

footer {
    background-color: var(--acqua--color);
    color: var(--dark--blue);
}

.foot-p {
    margin-bottom: 1rem;
}

footer>article {
    border-bottom: 4px solid var(--red--color);
    display: flex;
    align-items: center;
}

footer>article>img {
    object-position: center center;
}

.foot-p:hover {
    color: var(--red--color);
}